<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Solicitud de Incapacidad o Permiso</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/estilo.css') }}">
</head>

<body>
    
    <header class="header">
        <div class="Logo">
            <img src="{{ url_for('static', filename='images/LogoEmp.png') }}" alt="Logo de la compañía" width="100px" height="100px">
        </div>
        <nav>
            <ul class="nav-links">
                <li><a href="{{ url_for('index_emp') }}" class="nav-link">Inicio</a></li>
                <li><a href="{{ url_for('rh_emp') }}" class="nav-link">Recursos Humanos</a></li>
                <li><a href="{{ url_for('contacto_emp') }}" class="nav-link">Contacto</a></li>
            </ul>
        </nav>

        {% if 'user_name' in session %}
        <div class="dropdown">
            <span class="nav-link">Bienvenido, {{ session['user_name'] }}</span>
            <div class="dropdown-content">
                {% if perfil_incompleto %}
                    <a href="{{ url_for('completar_perfilE') }}"><span class="text-danger">Perfil</span></a>
                {% else %}
                    <a href="{{ url_for('perfilE') }}">Perfil</a>
                {% endif %}
                <br>
                <a href="{{ url_for('cerrar_sesion') }}" class="">Cerrar Sesión</a>
            </div>
        </div>
        {% else %}
            <a href="{{ url_for('iniciosesion') }}" class="btn"><button>Iniciar Sesión</button></a>
        {% endif %}
    </header>

    <div class="container mt-5">
        <h2 class="mb-4">Solicitud de Incapacidad o Permiso</h2>
        <form action="{{ url_for('solicitudE') }}" method="POST">
            <input type="hidden" name="id_usuario" value="{{ session['user_id'] }}">
            <div class="form-group">
                <label for="tipoSolicitud">Tipo de Solicitud:</label>
                <select class="form-control" id="tipoSolicitud" name="tipoSolicitud" required>
                    <option value="">Seleccionar...</option>
                    <option value="Incapacidad">Incapacidad</option>
                    <option value="Permiso">Permiso</option>
                </select>
            </div>
            <div class="form-group">
                <label for="fechaSolicitud">Fecha de Solicitud:</label>
                <input type="date" class="form-control" id="fechaSolicitud" name="fechaSolicitud" required>
            </div>
            <div class="form-group">
                <label for="motivo">Motivo (Por favor indique los días de incapacidad o del permiso que desea):</label>
                <textarea class="form-control" id="motivo" name="motivo" rows="3" required></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Enviar Solicitud</button>
        </form>
    </div>
    
    <footer class="mt-5">
        <div class="contenedor-footer">
            <div class="content-foo">
                <h4>Mapa de sitio</h4>
                <p><a href="Mapa de sitio.html">Mapa de sitio</a></p>
            </div>
            <div class="content-foo">
                <h4>Email</h4>
                <p>serviciostopografic1@hotmail.com</p>
            </div>
            <div class="content-foo">
                <h4>Redes</h4>
                <section class="buttons">
                    <a href="https://www.facebook.com/profile.php?id=100092641494792" class="fa fa-facebook"></a>
                    <a href="https://twitter.com/STopografi83139" class="fa fa-twitter"></a>
                    <a href="https://www.instagram.com/stopograficos/?__coig_restricted=1" class="fa fa-instagram"></a>
                </section>
            </div>
        </div>
        <h2 class="titulo-final">&copy; Servicios Topográficos | Gaes 7</h2>
    </footer>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
