<!DOCTYPE html>
<html>
    <head>
        <title>Mapa sitio</title>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="shortcut icon" href="{{ url_for('static', filename='images/Logo.jpeg') }}" type="image/x-icon">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/mapaSitio.css') }}">
    </head>
<body>
    <header class="header">
        <div class="Logo">
            <img src="{{ url_for('static', filename='images/LogoEmp.png') }}" alt="Logo de la compañía" width="100px" height="100px">
        </div>
        <nav>
            <ul class="nav-links">
                <li><a href="{{ url_for('index') }}" class="nav-link">Inicio</a></li> 
            </ul>
        </nav>
    </header>
    <div class="mSite">
        <ul>  
            <h1>Mapa del Sitio</h1>
            <li><a href="index.html">Inicio</a></li>
            <ul> 
                <li><a href="PaginaWeb.html">¿Quienes somos?</a></li>
                <li><a href="PaginaWeb.html">Servicios</a></li>
                <li><a href="contacto.html">Red de atencion</a></li>
                <li><a href="contacto.html">Contactenos</a></li>
            </ul>   
            <li><a href="#">Multimedia</a></li> 
            <ul> 
                <li><a href="https://www.youtube.com/watch?v=fp7NEfpQEU8&ab_channel=Topograf%C3%ADaParaPrincipiantes">Topografia</a></li>
                <li><a href="https://www.youtube.com/watch?v=cXBq2RC8-yU&ab_channel=TodoCivil">Trabajos</a></li>
                <li><a href="https://tuequipo.co/categoria/topografia">Material de trabajo</a></li>
            </ul> 
            <li><a href="#">Compañia</a></li> 
            <ul>
                <li><a href="equipos.html">Afiliaciones</a></li>
                <li><a href="servicios.html">Nuestros Servicios</a></li>
                <li><a href="PaginaWeb.html">Politica de privacidad</a></li>
                <li><a href="contacto.html">Red de atencion</a></li>
            </ul>
            <li><a href="#">Ayuda</a></li> 
            <ul>
                <li><a href="contacto.html">Preguntas frecuentes</a></li>
                <li><a href="contacto.html">Whatsapp Topografic Service</a></li>
                <li><a href="contacto.html">Lineas de atencion</a></li>
                <li><a href="#">Telefono</a></li>
                <li><a href="#">3016636500</a></li>
            </ul>
        </ul>
    </div>

    <footer>
        <div class="contenedor-footer">
            <div class="content-foo">
                <h4>Mapa de sitio</h4>
                <p><a href="Mapa de sitio.html">Mapa de sitio</a></p>
            </div>
            <div class="content-foo">
                <h4>Email</h4>
                <p>serviciostopografic1@hotmail.com</p>
            </div>
            <div class="content-foo">
                <h4>Redes</h4>
                <section class="buttons">
                    <a href="https://www.facebook.com/profile.php?id=100092641494792" class="fa fa-facebook"></a>
                    <a href="https://twitter.com/STopografi83139" class="fa fa-twitter"></a>
                    <a href="https://www.instagram.com/stopograficos/?__coig_restricted=1" class="fa fa-instagram"></a>
                </section>
            </div>
        </div>
        <h2 class="titulo-final">&copy; Servicios Topograficos | Gaes 7</h2>
    </footer>
</body>
</html>