<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/Logo.jpeg') }}" type="image/x-icon">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/perfil.css') }}">
    <title>Completar Perfil</title>
</head>
<body>
    <header class="header">
        <div class="Logo">
            <img src="{{ url_for('static', filename='images/LogoEmp.png') }}" alt="Logo de la compañía" width="100px" height="100px">
        <nav>
            <ul class="nav-links">
                <li><a href="{{ url_for('index_cl') }}" class="nav-link">Inicio</a></li>
                <li><a href="{{ url_for('proyectos_cl') }}" class="nav-link">Proyectos</a></li>
                <li><a href="{{ url_for('contacto_cl') }}" class="nav-link">Contacto</a></li>
            </ul>
        </nav>
        {% if 'user_name' in session %}
        <div class="dropdown">
            <span class="nav-link">Bienvenido, {{ session['user_name'] }}</span>
            <div class="dropdown-content">
                {% if perfil_incompleto %}
                    <a href="{{ url_for('completar_perfil') }}"><span class="danger">Perfil</span></a>
                {% else %}
                    <a href="{{ url_for('perfil') }}"> Perfil</a>
                {% endif %}
                <br>
                <a href="{{ url_for('cerrar_sesion') }}" class="">Cerrar Sesión</a>
            </div>
        </div>
        {% else %}
            <a href="{{ url_for('iniciosesion') }}" class="btn"><button>Iniciar Sesión</button></a>
        {% endif %}
    </header>


    <main>
        <section class="form-section">
            <h2 class="title">Completar Perfil</h2>
            <form action="{{ url_for('completar_perfil') }}" method="post">
                <div class="form-group">
                    <label for="nomCliente">Nombre:</label>
                    <input type="text" id="nomCliente" name="nomCliente" required>
                </div>
                <div class="form-group">
                    <label for="apeCliente">Apellido:</label>
                    <input type="text" id="apeCliente" name="apeCliente" required>
                </div>
                <div class="form-group">
                    <label for="telefono">Teléfono:</label>
                    <input type="text" id="telefono" name="telefono" required>
                </div>
                <button type="submit" class="btn">Guardar</button>
            </form>
        </section>
    </main>

    <footer>
        <div class="contenedor-footer">
            <div class="content-foo">
                <h4>Mapa de sitio</h4>
                <p><a href="Mapa de sitio.html">Mapa de sitio</a></p>
            </div>
            <div class="content-foo">
                <h4>Email</h4>
                <p>serviciostopografic1@hotmail.com</p>
            </div>
            <div class="content-foo">
                <h4>Redes</h4>
                <section class="buttons">
                    <a href="https://www.facebook.com/profile.php?id=100092641494792" class="fa fa-facebook"></a>
                    <a href="https://twitter.com/STopografi83139" class="fa fa-twitter"></a>
                    <a href="https://www.instagram.com/stopograficos/?__coig_restricted=1" class="fa fa-instagram"></a>
                </section>
            </div>
        </div>
        <h2 class="titulo-final">&copy; Servicios Topograficos | Gaes 7</h2>
    </footer>
</body>
</html>
