<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/Logo.jpeg') }}" type="image/x-icon">
    <title>Formulario de Solicitud</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/estilo_contacto.css') }}">
    <!--Icon-Font-->
    <script src="https://kit.fontawesome.com/eb496ab1a0.js" crossorigin="anonymous"></script>
</head>

<body>
    <header class="header">
        <div class="logo">
            <img src="{{ url_for('static', filename='images/LogoEmp.png') }}" alt="Logo de la compañía" width="100px" height="100px">
        </div>
        <nav>
            <ul class="nav-links">
                <li><a href="{{ url_for('index_cl') }}" class="nav-link">Inicio</a></li>
                <li><a href="{{ url_for('proyectos_cl') }}" class="nav-link">Proyectos</a></li>
                <li><a href="{{ url_for('contacto_cl') }}" class="nav-link">Contacto</a></li>
            </ul>
        </nav>
        {% if 'user_name' in session %}
        <div class="dropdown">
            <span class="nav-link">Bienvenido, {{ session['user_name'] }}</span>
            <div class="dropdown-content">
                <a href="{{ url_for('perfil') }}">Perfil</a>
                <br>
                <a href="{{ url_for('cerrar_sesion') }}" class="">Cerrar Sesión</a>
            </div>
        </div>
        {% else %}
        <a href="{{ url_for('iniciosesion') }}" class="btn"><button>Iniciar Sesión</button></a>
        {% endif %}
    </header>

    <div class="container-form">
        <div class="info-form">
            <h2>Solicita tu proyecto</h2>
            <p>Solicite el proyecto que desea, por favor complete todos los campos y describa a detalle el proyecto que desea realizar, recuerde que tenemos un límite en los proyectos que puedes solicitar.</p>
        </div>
        <form action="{{ url_for('formulario') }}" method="POST" autocomplete="off">
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    {% for category, message in messages %}
                        <div class="alert alert-{{ category }}">
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endif %}
            {% endwith %}
            <textarea name="desc_solicitud" placeholder="Tu Solicitud..." class="campo" required></textarea>
            <input type="hidden" name="id_usuario" value="{{ session['user_id'] }}">
            <select name="id_proyecto">
                {% for proyecto in proyectos %}
                    <option value="{{ proyecto.idProyecto }}">{{ proyecto.nomProyecto }}</option>
                {% endfor %}
            </select>
            <input type="submit" name="enviar" value="Enviar Solicitud" class="btn-enviar">
        </form>
    </div>
    <br><br><br>
    <footer>
        <h2 class="titulo-final">&copy; Servicios Topográficos | Gaes 7</h2>
    </footer>
</body>

</html>